
.nav-items{
    list-style: none;
    display: flex;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}    

.nav-items > li{
    padding: 15px;
    font-size: 1.55rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(117, 0, 250);
}
.logo{
    width:5rem;
    height:3.5rem;
}
.maincontent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.maincontent > h1{
    font-size: 4rem;
}
.maincontent > h1 >span{
    color: black;
    text-shadow: 3px 3px 3px aquamarine;
    font-weight: 400;
}
.maincontent > ol{
    font-size: 30px;
}
.right-list{
    position: relative;
    top:300px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px 2px aquamarine;

}